* {
	margin: 0px;
	padding: 0px;
	font-family: 'Libre Baskerville', serif;
	font-size: 150px;
	font-weight: bold;
	position: absolute;
}
.wrapper {
	background-image: url("https://ewu1209.github.io/scoreboard/images/background.jpg");
	background-size: 1080px 810px;
	width: 1080px;
	height: 810px;
}
.wrapper .reset {
	width: 1080px; 
	text-align: center;
	font-size: 75px;
	color: #dddddd;
	top: 65px;
	height: 200px;
}
.wrapper .score1 {
	width: 540px;
	text-align: center;
	color: black;
	top: 225px;
	left: 0px;
	text-shadow: 2px 2px #dddddd;
}
.wrapper .score2 {
	width: 540px;
	text-align: center;
	color: black;
	top: 225px;
	left: 540px;
	text-shadow: 2px 2px #dddddd;
}
.wrapper .rules {
	width: 1080px; 
	text-align: center;
	font-size: 30px;
	bottom: 60px;
	color: #dddddd;
}
.wrapper .score1winner, .wrapper .score2winner {
	top: 155px;
	left: 45px;
	width: 446px;
	height: 225px;
	background-image: url("https://ewu1209.github.io/scoreboard/images/winner.png");
	background-size: 446px 225px;
	display: none;
}
.wrapper .score2winner {
	left: 590px;
}
.wrapper .bust1, .wrapper .bust2 {
	top: 155px;
	left: 95px;
	width: 340px;
	height: 166px;
	background-image: url("https://ewu1209.github.io/scoreboard/images/bust.png");
	background-size: 340px 166px;
	display: none;
}
.wrapper .bust2 {
	left: 635px;
}
